
<div class="sign section--bg">
    <div class="container" style="margin-top: 140px;">
        <div class="col-12">
            <div class="section__wrap">
                <!-- section title -->
                <h2 class="section__title">Hi {{user}}, Here are Your Booking Details </h2>
                <!-- end section title -->
            </div>
            <div class="text-white sign__form">
            
                <h3>Movie Name : {{ movie.movieName }} </h3>
                <h3>Theatre Name : {{ theatre.theatreName }}</h3>
                <h3>Seats Booked : {{ countSeats }}</h3>
                <h3>Payable Amount : {{ amount }}</h3>
               <span> <button class="sign__btn ml-3 mr-3" type="button">
                    Proceed To Pay</button></span>

            </div>

</div>
</div>
</div>