<div class="sign section--bg">
    <div class="container" style="margin-top: 140px;">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Theatres</h2>
                    <!-- end section title -->
                </div>
                <div class="sign__form">

                <!-- Table  -->
            <table class="table table-striped text-white">
            <thead class="bg-dark text-white">
        <tr>
            <th>Serial</th>
            <th>Theatre Name</th>
            <th>Theatre City</th>
            <th>Manager Name</th>
            <th>Manager Contact</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let theatre of theatres; index as i">
            <td>{{i+1}}</td>
            <td>{{theatre.theatreName}}</td>
            <td>{{theatre.theatreCity}}</td>
            <td>{{theatre.managerName}}</td>
            <td>{{ theatre.managerContact }}</td>
            <td>
                <button class="btn btn-pink btn-md rounded"
                    (click)="deleteTheatre(theatre)"> Delete Theatre</button></td>
        </tr>
    </tbody>
            </table>
                <!-- End Table -->
                <form #f1="ngForm" method="get" class="float-right">
                    
                        <span ><button type="submit" class="price__btn"><p class="ml-3 mr-3 mt-3">Add Theatre</p></button></span>
                   
                </form>

            <div class="row" *ngIf="f1.submitted" class="col-md-8">
            <div class="sign section--bg">
                <div class="container">
                    <div class="col-12">
                <div class="sign__content">
            <!-- authorization form -->
                    <form #f2="ngForm" method="get" class="sign__form" (ngSubmit)="addTheatre()">
                
                    <div class="sign__group">
                        <input type="text" name="theatreName" [(ngModel)]="theatreName" #tName="ngModel"
                         class="sign__input" placeholder="Theatre Name" required minlength="1">
                        <div *ngIf="f2.submitted && tName.invalid">
                            <div *ngIf="tName.errors.required" class="text-danger"> *Theatre Name is Required </div>
                        </div>
                        <div *ngIf="tName.invalid">
                            <div *ngIf="tName.errors.minlength" class="text-danger">*Theatre Name Can not be Null</div>
                        </div>
                    </div>
                    
                    
                    <div class="sign__group">
                        <input type="text" name="theatreCity" [(ngModel)]="theatreCity" #tCity="ngModel"
                         class="sign__input" placeholder="Theatre City" required minlength="1">
                        <div *ngIf="f2.submitted && tCity.invalid">
                            <div *ngIf="tCity.errors.required" class="text-danger"> *City Name is Required </div>
                        </div>
                        <div *ngIf="tCity.invalid">
                            <div *ngIf="tCity.errors.minlength" class="text-danger">
                                <p class="text-danger bg-white">
                                    *City Name Can not be Null</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="sign__group">
                        <input type="text" name="theatreManager" [(ngModel)]="managerName" #tMgr="ngModel"
                         class="sign__input" placeholder="Manager Name" required minlength="1">
                        <div *ngIf="f2.submitted && tMgr.invalid">
                            <div *ngIf="tMgr.errors.required" class="text-danger">
                                 *Manager Name is Required</div>
                        </div>
                        <div *ngIf="tMgr.invalid">
                            <div *ngIf="tMgr.errors.minlength" class="text-danger"><p class="text-danger bg-white">
                                *Manager Name Can not be Null</p></div>
                        </div>
                    </div>
                    
                    <div class="sign__group">
                        <input type="text" name="managerContact" [(ngModel)]="managerContact" #mCnct="ngModel"
                         class="sign__input" appPhonenumber placeholder="Manager Contact" required minlength="10" maxlength="10">
                        <div *ngIf="f2.submitted && mCnct.invalid">
                            <div *ngIf="mCnct.errors.required" class="text-danger"> *Manager Contact Number is Required </div>
                        </div>
                        <div *ngIf="mCnct.invalid">
                            <div *ngIf="mCnct.errors.minlength" class="text-danger">*Contact Number should have 10 digits</div>
                        </div>
                    </div>      
                       <div class="sign__group">

                        <ng-multiselect-dropdown [placeholder]="'Select Movies'" [data]="movies" [(ngModel)]="selectedItems"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown>
                       </div>
                    
                    <button class="sign__btn" type="submit">
                        Add Theatre</button>
                    </form>
            <!-- end authorization form -->
        </div>
    </div>

</div>
</div>
</div>
</div>

</div>
</div>
    
</div>

<router-outlet></router-outlet>