<div class="sign section--bg">
    <div class="container" style="margin-top: 140px;">
        <div class="col-12">
            <div class="section__wrap">
                <!-- section title -->
                <h2 class="section__title">Movies</h2>
                <!-- end section title -->
            </div>
            <div class="sign__form">

                <!-- Table  -->
                <div class="sign__group">
                    <input type="text" name="searchMovie" [(ngModel)]="searchMovie" class="sign__input" 
                    placeholder="Search a Movie">
                </div>
                <table class="table table-striped text-white">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Serial</th>
                            <th>Movie Name</th>
                            <th>Genre</th>
                            <th>Director</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movie of movies; index as i" (click)="forwardToBooking(movie)">
                            <td>{{i+1}}</td>
                            <td>{{movie.movieName}}</td>
                            <td>{{movie.movieGenre}}</td>
                            <td>{{movie.movieDirector}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- End Table -->

            </div>
        </div>
    </div>

</div>
<router-outlet></router-outlet>